.color-picker {
    display: flex;
}

.color-swatch {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 3px;
    cursor: pointer;
}

.color-swatch:hover {
    border: 2px solid grey;
}

.color-swatch.selected {
    border: 2px solid grey;
}